.border-box {
    border: 1.5px solid #9b9b9b;
}

.controlPanel {
    height: 100vh;
    flex: 6%;
    box-shadow: 7px 0 6px #0000001a;
    
    /* min-width: 80px; */
}

.detailForm {

    flex: 25%;
    height: 100vh;
    overflow-y: auto;

}

.pdf-content {
    flex: 52%;
    height: 97vh;
    overflow-y: auto;
}

.controlPanel_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
}

.controlPanel_box_heading{
    text-align: center;
    padding-top: 1rem;
}

.controlPanel_box_buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.pdf-content{
    margin: 1rem;
    box-shadow: 3px 1px 21px #00000048;
    border-radius: 0.3rem;
}
