.border-box {
    border: 1.5px solid #9b9b9b;
}

.controlPanel {
    min-height: 100vh;
    flex: 12%;
    box-shadow: 7px 0 6px #0000001a;
    
    /* min-width: 80px; */
}

.detailForm {
    flex: 28%;
    height: 100vh;
    overflow-y: auto

}

.resumePreview {
    flex: 57%;
}

.controlPanel_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
}

.controlPanel_box_heading{
    text-align: center;
    padding-top: 1rem;
}

.controlPanel_box_buttons {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.resumePreview{
    box-shadow: -3px 0 6px #0000001a;
}
